/* Willy Styles */


body {
    background-color: #462255;
}

.container-main {
    display: flex;
    flex-direction: column;
    padding: 0px 32px 0px 32px;
    flex: 1 1 0;
    margin: 0;
}

/* styles for the first container */

.container-one {
    background-color: #313B72;
    display: flex;
    flex-direction: column;
    margin: 0px;
    flex: 1 1 0;
}

.container-header-one {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 16px 300px 16px 300px;
    flex: 1 1 0;
}

.header-logo {
    color: #C3F3C0;
    font-size: 24px;
    font-weight: 800;
}

.container-header-links {
    display: flex;
    align-items: center;
    gap: 16px;
}

a {
    color: #C3F3C0;
    text-decoration: none;
}

.container-content-one {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 120px;
    padding: 100px 300px 16px 300px;
}

.header-content {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: flex-start;
}

.header-content-title {
    color: #C3F3C0;
    font-size: 56px;
}

.header-content-para {
    color: #C3F3C0;
    max-width: 300px;
}

.header-btn {
    background-color: #62A87C;
    border-radius: 10%;
    padding: 16px;
    font-size: 16px;
    font-weight: 700;
    border: none;
}


/* container two styles */

.container-two {
    background-color: #C3F3C0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1 1 0;
}

.header-two {
    font-size: 48px;
    color: #313B72;
    font-weight: 600;
}

.container-cards {
    display: flex;
    justify-content: space-between;
    padding: 16px 300px 100px 300px;
    color: #313B72;
}

.image-card {
    border-radius: 8px;
    border: 3px solid #462255;
    width: 200px;
}


/* container 3 styling */

.container-three {
    background-color: #7EE081;
    color: #313B72;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 300px 80px 300px;
}

.quote {
    font-size: 48px;
    font-style: italic;
    padding: 0px 30px 0px 30px;
    margin: 0px;
}

.author-quote {
    font-size: 24px;
    font-weight: 600;
    align-self: flex-end;
}